/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

applet, object, iframe,
blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, 
b, u, i, dl, dt, dd, ol, 
fieldset, form, label, legend,
caption, tbody, tfoot, thead, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
output, ruby, section, summary,
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section {
	display: block;
}


blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

